{% extends 'layouts/main_layout.html' %}
{% block title %}Rice Stock Analysis{% endblock %}
{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">DKI Jakarta</li>
                    <li class="breadcrumb-item active">Pasar Induk Beras Cipinang</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
        <!-- -----======= Widget Section =======----- -->
        <div class="row">             

            <!-- ----- Left-Widget Section ----- -->
            <section class="col-lg-7">

                <!-- -----======= Card Section =======----- -->
                <div class="row">
                    <!-- Daily Needs -->
                    <div class="col-lg-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3 id ="daily-needs-value">0<sup style="font-size: 20px">tons</sup></h3>
                                <p>Daily Needs</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>

                            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#daily-needs-card">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    
                    <!-- Population Growth Rate -->
                    <div class="col-lg-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3 id="growth-value">0<sup style="font-size: 20px">%</sup></h3>
                                <p>Population Growth Rate</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>

                            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#growth-rate-card">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <!-- Consumption Per Capita -->
                    <div class="col-lg-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3 id="consumption-value">0<sup style="font-size: 20px">kg</sup></h3>
                                <p>Consumption Per Capita</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>

                            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#consumption-capita-card">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <!-- Remaining Stock -->
                    <div class="col-lg-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3 id="stock-value">0<sup style="font-size: 20px">days</sup></h3>
                                <p>Remaining Stock</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>

                            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#stock-card">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                
                <!-- Stock Graph -->
                <div class="card bg-danger">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-th mr-1"></i>
                            <b>Stock Data</b>
                        </h3>

                        <div class="card-tools">
                            <button type="button" title = "Upload Data" class="btn bg-gradient-danger btn-sm" data-toggle="modal" data-target="#upload-stock-data">
                                <i class="fas fa-upload"></i>
                            </button> 

                            <button type="button" title = "Insert Data" class="btn bg-gradient-danger btn-sm" data-toggle="modal" data-target="#form-stock-data">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" title = "Delete Last Data" class="btn bg-gradient-danger btn-sm" data-toggle="modal" data-target="#form-population-data">
                                <i class="fas fa-minus"></i>
                            </button>                 
                        </div>
                    </div>
                    <div class="card-body" id="stock-parent-div">
                        <h4 class="card-title">
                            <b>No Data</b>
                        </h4> 
                    </div>       

                    <a href="#" class="card-footer bg-gradient-danger" data-toggle="modal" data-target="#stock-data">More info <i class="fas fa-arrow-circle-right"></i></a>                                       
                </div>
            </section>

            <!-- ----- Right-Widget Section ----- -->
            <section class="col-lg-5">               
                <!-- Population Graph -->
                <div class="card bg-success">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-th mr-1"></i>
                            <b>Population - Consumption Data</b>
                        </h3>

                        <div class="card-tools">
                            <button type="button" title = "Upload Data" class="btn bg-gradient-success btn-sm" data-toggle="modal" data-target="#upload-population-data">
                                <i class="fas fa-upload"></i>
                            </button>     

                            <button type="button" title = "Insert Data" class="btn bg-gradient-success btn-sm" data-toggle="modal" data-target="#form-consumption-population-data">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" title = "Delete Last Data" class="btn bg-gradient-success btn-sm" data-toggle="modal" data-target="#form-population-data">
                                <i class="fas fa-minus"></i>
                            </button>              
                        </div>
                    </div>
          
                    <div class="card-body" id="population-parent-div">
                        <h4 class="card-title">
                            <b>No Data</b>
                        </h4> 
                    </div>

                    <div class="card-body" id="consumption-parent-div">
                    </div>

                    <a href="#" class="card-footer bg-gradient-success" data-toggle="modal" data-target="#population-data">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>                
            </section>
        </div>       
    </div>    
</section>

<section class="content">
    <div class="container-fluid col-lg-9">
        
        <!-- Stock Graph -->
        <div class="card">            
            <div class="card-header border-0">
                <h3 class="card-title">
                    <i class="fas fa-th mr-1"></i>
                    <b>Data Forecasting</b>
                </h3>                
            </div>
            
            <div class="card-body">
                <table id="forecast-table" class="table table-bordered table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Population</th>
                            <th>Total Consumption (tons)</th>
                            <th>Average Stock (tons)</th>
                        </tr>
                    </thead>
                </table>                            
            </div>                    
        </div>   
    </div>
</section>

<br/><br/>




<!-- -----======= Data Table Section =======----- -->
<!-- Population Data -->
<div class="modal fade" id="population-data">
    <div class="modal-dialog modal-lg modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Population - Consumption Data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="card population-data card-body">                    
                <div class="d-flex mb-3" style="gap: 10px;">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#upload-population-data">
                        <i class="fas fa-upload"></i> Upload Data
                    </button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form-consumption-population-data">
                        <i class="fas fa-plus"></i> Add Data
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form-population-data">
                        <i class="fas fa-minus"></i> Delete Last Data
                    </button>
                </div>
                <div>
                    <table id="population-consumption-table" class="table table-bordered table-hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Year</th>
                                <th>Population</th>
                                <th>Consumption Rate (ton)</th>
                            </tr>
                        </thead>
                    </table>                            
                </div>                
            </div>
        </div>                           
    </div>
</div>

<!-- Stock Data -->
<div class="modal fade" id="stock-data">
    <div class="modal-dialog modal-lg modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Stock Data</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="card population-data card-body">                    
                <div class="d-flex mb-3" style="gap: 10px;">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#upload-stock-data">
                        <i class="fas fa-upload"></i> Upload Data
                    </button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form-stock-data">
                        <i class="fas fa-plus"></i> Add Data
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form-population-data">
                        <i class="fas fa-minus"></i> Delete Last Data
                    </button>
                </div>
                <div>
                    <table id="stock-table" class="table table-bordered table-hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Average Stock (tons)</th>
                            </tr>
                        </thead>
                    </table>                            
                </div>                
            </div>
        </div>                           
    </div>
</div>




<!-- -----======= Insert Data Section =======----- -->
 <!-- Stock Data -->
<div class="modal fade" id="form-stock-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Insert Stock Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="stockRecord-year">Year</label>
                        <input type="text" class="form-control" id="stockRecord-year" name="year" placeholder="Enter year">
                    </div>
                    <div class="form-group">
                        <label for="stockRecord-month">Month</label>
                        <input type="text" class="form-control" id="stockRecord-month" name="month" placeholder="Enter month">
                    </div>
                    <div class="form-group">
                        <label for="stockRecord-avgStock">Average Stock</label>
                        <input type="text" class="form-control" id="stockRecord-avgStock" name="avgStock" placeholder="Enter average stock">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Population - Consumption Data -->
<div class="modal fade" id="form-consumption-population-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Insert Population - Consumption Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="stockRecord-year">Year</label>
                        <input type="text" class="form-control" id="populationData-year" name="year" placeholder="Enter year">
                    </div>
                    <div class="form-group">
                        <label for="stockRecord-month">Population</label>
                        <input type="text" class="form-control" id="populationData-population" name="month" placeholder="Enter population">
                    </div>
                    <div class="form-group">
                        <label for="stockRecord-avgStock">Consumption Rate</label>
                        <input type="text" class="form-control" id="populationData-consumptionRate" name="consumptionRate" placeholder="Enter consumption rate">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- -----======= Upload Data Section =======----- -->
<!-- Bulk Population-Consumption upload -->
<div class="modal fade" id="upload-population-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form  method="post" action="../api/insert-consumption-bulk/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Upload Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="consumptionInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="consumptionInputFile" name="file">
                                <label class="custom-file-label" for="consumptionInputFile">Choose file</label>
                            </div>         
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bulk Stock Upload -->
<div class="modal fade" id="upload-stock-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" action="../api/insert-stock-bulk/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Upload Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="stockInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="stockInputFile" name="file">
                                <label class="custom-file-label" for="stockInputFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- -----======= Card Modal Dialog Section =======----- -->
<!-- Daily Needs -->
<div class="modal fade" id="daily-needs-card">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">Daily Needs</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id = "daily-needs-caption">
                        No Data
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Growth Rate -->
<div class="modal fade" id="growth-rate-card">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">Population Growth Rate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id = "growth-caption">
                        No Data
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Consumption Per Capita -->
<div class="modal fade" id="consumption-capita-card">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">Consumption Per Capita</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id = "consumption-caption">
                        No Data
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Remaining Stock -->
<div class="modal fade" id="stock-card">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4 class="modal-title">Remaining Stock</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id = "stock-caption">
                        No Data
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -----======= Script Section =======----- -->
{% endblock %}
{% block script %}
<script src="/static/dist/js/pages/dataRenderer.js"></script>
{% endblock %}
